RewriteEngine On
RewriteBase /torneo/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]

RewriteCond %{REQUEST_URI} ^/torneo-jugada/.*
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^.*$ /torneo-jugada/index.html [L]