RewriteEngine On
RewriteBase /torneo/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]

RewriteCond %{REQUEST_URI} ^/jugada/.*
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^.*$ /jugada/index.html [L]